body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	line-height: 1.7;
	text-shadow: 0px 1px 0 white;
	background: #eeeeee;
}

li {
	margin-bottom: 10px;
	margin-top: 10px;
}

ul {
	margin-left: 20px;
	max-width: 800px;
}

h1 {
	font-size: 3em;
	background: #e1e1e1;
	padding:20px;
	border-bottom:1px solid #cbcbcb;
}

#editme {
	padding:20px;
	border-bottom:1px solid #cbcbcb;
	background: #e1e1e1;
	display: block;
}

input {
	font-size: 3em;
	background: #ffffd3;
	border:1px solid #cccccc;
	font-family: 'Allerta', Georgia, "Times New Roman", Times, serif;
	height:1.2em;
	line-height: 1.4;
	width:100%;
}

#content {
	border-top:1px solid white;
	margin:0;
	padding-left:20px;
	padding-right:20px;
}

h2 {
	font-size: 2em;
}

h3 {
	font-weight:bold;
	font-size: 1.5em;
}

h1, h2, h3 {
	color:#1d8ac3;
	font-family: 'Allerta', Georgia, "Times New Roman", Times, serif;
	cursor: pointer;
}

h1:hover, h2:hover, h3:hover {
	color:#ff3030;
}

p {
	display: inline;
	color: #626262;
}

.bringBack, #done {
	font-size: 11px;
	color: #ccc;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	cursor: pointer;
	
}

.bringBack:hover {
	color:#000;
	text-decoration: underline;
}

#done {
	color:#1d8ac3;
}

#done:hover {
	color:#ff3030;
	text-decoration: underline;
}

label input {
	width:auto;
	height:auto;
}

label {
	display:block;
	padding:5px;
	background: #515151;
	color:#e1e1e1;
	text-shadow: 0px 1px 0 black;
	font-family: Helvetica, Verdana, Arial, sans-serif;
}

a {
	color:black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color:#ff3030;
}
